body {
    background-color: tomato;
}

#basic-addon:hover {
    cursor: pointer;
}

.input-group {
    width: 30%;
    margin: auto;
}

.input-group-text {
    background-color: teal;
    border: 1px solid goldenrod;
    color: tomato;
    border-radius: 5px;
}

.col-md-3 {
    padding-left: 0;
    padding-right: 0;
    width: 24%;
}

.ml-custom {
    margin-left: 10px;
}

.w-28 {
    width: 28%;
}

.not-found {
    font-size: 20px;
    color: orangered;
    font-weight: bold;
    text-align: center;
}

#close {
    position: absolute;
    margin-left: 90%;
}

#close:hover {
    cursor: pointer;
}

#navbar{
    color: white;
}
.nav-link{
    color: whitesmoke;
}